/* Background color at page and margins */
body {
  margin: 0px;
  background-color: rgb(146, 158, 168);
}

/* Main container, grid template */
.container {
  display: grid;
  grid-template-columns: 60px 60px repeat(8, 1fr);
  grid-template-rows: 60px 60px repeat(9, 8rem);
  grid-template-areas:
    "logo logo topbar topbar topbar topbar topbar topbar topbar topbar"
    "logo logo homeMenu jkpgMenu workMenu gameMenu barMenu barMenu barMenu barMenu"
    ". . header header header header header header header header"
    ". . rules rules rules rules rules rules rules rules "
    ". . number number . currentScore currentScore currentScore currentScore currentScore"
    ". . number number . . score score . ."
    ". . higher lower  . . score score . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    "footer footer footer footer footer footer footer footer footer footer";

  /* gap between columns to make the bars at top like "sections" */
  column-gap: 1px;
}

/* Background Color top make the gaps black at top */
.topBackground {
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* Logo at top-left corner. Background color, area, size */
.logo {
  background-color: black;
  grid-area: logo;
  height: 120px;
  width: 120px;
}

/* The black bar at top */
.topbar {
  background-color: black;
  color: rgba(255, 255, 0, 0.8);
  grid-area: topbar;
  display: flex;
  align-items: center;
}

/* The "Home" button at the gray bar at top */
.homeMenu {
  background-color: #202020;
  color: rgba(255, 255, 0, 0.8);
  grid-area: homeMenu;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* The "Jönköping" button at the gray bar at top */
.jkpgMenu {
  background-color: #202020;
  color: rgba(255, 255, 0, 0.8);
  grid-area: jkpgMenu;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* The "My Works" button at the gray bar at top */
.workMenu {
  background-color: #202020;
  color: rgba(255, 255, 0, 0.8);
  grid-area: workMenu;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* The "game" button at the gray bar at top */
.gameMenu {
  background-color: #151515;
  color: #dfb911;
  grid-area: gameMenu;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#header {
  grid-area: header;
  font-size: 42pt;
}

#rules {
  grid-area: rules;
  margin-top: 0;
}

#number {
  grid-area: number;
  font-size: 48pt;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #b9c4c3;
}

#higher {
  grid-area: higher;
  height: 50%;
  width: 100%;
  background-color: rgb(72, 114, 72);
}
#lower {
  grid-area: lower;
  height: 50%;
  width: 100%;
  background-color: rgb(95, 59, 59);
}

/* Current Score headline */
#currentScore {
  grid-area: currentScore;
  margin-top: 5rem;
  font-size: 35pt;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Score points */
#score {
  font-size: 30pt;
  grid-area: score;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

/* The grey bar at top. Replaces w buttons like Home, JKPG etc.*/
.barMenu {
  background-color: #202020;
  grid-area: barMenu;
}

/* The grey bar at the buttom */
.footer {
  background-color: #202020;
  color: rgba(255, 255, 0, 0.4);
  grid-area: footer;
  line-height: 20%;
}
