/* Background color at page and margins */
body {
  margin: 0px;
  background-color: rgb(146, 158, 168);
}

/* Main container, grid template */
.container {
  display: grid;
  grid-template-columns: 60px 60px repeat(8, 1fr);
  grid-template-rows: 60px 60px repeat(11, 8rem);
  grid-template-areas:
    "logo logo topbar topbar topbar topbar topbar topbar topbar topbar"
    "logo logo homeMenu jkpgMenu workMenu gameMenu barMenu barMenu barMenu barMenu"
    ". . header header header header header header header ."
    ". . . . . . . . . ."
    ". . vaderImg vaderH vaderH vaderH vaderH vaderH . ."
    ". . kyleImg kyleH kyleH kyleH kyleH kyleH . ."
    ". . streamImg streamH streamH streamH streamH streamH . ."
    ". . northGImg northGH northGH northGH northGH northGH . ."
    ". . websiteImg websiteH websiteH websiteH websiteH websiteH . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    "footer footer footer footer footer footer footer footer footer footer";

  /* gap between columns to make the bars at top like "sections" */
  column-gap: 1px;
}

/* Background Color top make the gaps black at top */
.topBackground {
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* Logo at top-left corner. Background color, area, size */
.logo {
  background-color: black;
  grid-area: logo;
  height: 120px;
  width: 120px;
}

/* The black bar at top */
.topbar {
  background-color: black;
  color: rgba(255, 255, 0, 0.8);
  grid-area: topbar;
  display: flex;
  align-items: center;
}

/* The "Home" button at the gray bar at top */
.homeMenu {
  background-color: #202020;
  color: rgba(255, 255, 0, 0.8);
  grid-area: homeMenu;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* The "Jönköping" button at the gray bar at top */
.jkpgMenu {
  background-color: #202020;
  color: rgba(255, 255, 0, 0.8);
  grid-area: jkpgMenu;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* The "My Works" button at the gray bar at top */
.workMenu {
  background-color: #151515;
  color: #dfb911;
  grid-area: workMenu;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* game button at top */
.gameMenu {
  background-color: #202020;
  color: rgba(255, 255, 0, 0.8);
  grid-area: gameMenu;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* The grey bar at top. Replaces w buttons like Home, JKPG etc.*/
.barMenu {
  background-color: #202020;
  grid-area: barMenu;
}

/* Main header for the homepage */
.header {
  color: rgb(88, 42, 42);
  grid-area: header;
  font-size: 28pt;
  margin-top: 60px;
  display: flex;
  align-items: center;
}

/* Vader Headline */
#vaderH {
  color: black;
  margin-left: 1rem;
  grid-area: vaderH;
  display: flex;
  align-items: flex-start;
}
/* Vader Image */
#vaderImg {
  grid-area: vaderImg;
  height: 120px;
  width: 100px;
}

/* Streaming headline */
#streamH {
  margin-left: 1rem;
  grid-area: streamH;
  display: flex;
  align-items: flex-start;
}

/* stream Image */
#streamImg {
  grid-area: streamImg;
  height: 120px;
  width: 100px;
}

/* Kyle Headline */
#kyleH {
  margin-left: 1rem;
  grid-area: kyleH;
  display: flex;
  align-items: flex-start;
}

/* Kyle Image */
#kyleImg {
  grid-area: kyleImg;
  height: 120px;
  width: 100px;
}

/* Logo North G Headline */
#northGH {
  margin-left: 1rem;
  grid-area: northGH;
  display: flex;
  align-items: flex-start;
}

/*Logo North G Img */
#northGImg {
  grid-area: northGImg;
  height: 120px;
  width: 100px;
}

/* This Website Headline */
#websiteH {
  margin-left: 1rem;
  grid-area: websiteH;
}

#websiteImg {
  grid-area: websiteImg;
  height: 120px;
  width: 100px;
}

/* The grey bar at the buttom */
.footer {
  background-color: #202020;
  color: rgba(255, 255, 0, 0.4);
  grid-area: footer;
  line-height: 20%;
}
