html,
body {
  margin: 0px;
  background-color: lightgrey;
}

/* "Main" css for grid etc. */
.container {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 20vh 70vh 10vh;
  grid-template-areas:
    "header header"
    "content ."
    "footer footer";
  align-items: center;
}

/* Header css */
.header {
  background-color: darkgreen;
  color: lightgray;
  grid-area: header;
  font-size: 15vh;
  font-weight: bold;
}

/* content / about jkpg css */
.content {
  grid-area: content;
}

/* Footer css */
.footer {
  background-color: lightgreen;
  grid-area: footer;
  font-size: 3vh;
}
